{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="page-header">Edit ToDo</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Update ToDo" class="btn btn-primary" style="margin: 0 0 0 15px" />
    {{ form_end(form) }}
{% endblock %}