{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="page-header">Latest ToDos</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Todo Name</th>
            <th>Due Date</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>
                <a href="/todo/details/1" class="btn btn-success">View</a>
                <a href="/todo/edit/1" class="btn btn-default">Edit</a>
                <a href="/todo/delete/1" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}